@media (max-width: 1600px) {
    .view-img {
        flex-direction: column;        
    }
    .view-img__list {
        justify-content: space-evenly;
    }
    .view-img__list:not(:last-child) {
        margin-bottom: 15px;
    }
    .view-img__item {
        border: 2px solid #ffc000;
        box-shadow: 3px 3px 20px #252c30;
    }    
}
@media (max-width: 992px) {
    .bottom-container__item:not(:last-child) {
        margin-right: 20px;
    }
    .hero-container__title {
        font-size: var(--font-size-head);
    }
    .hero-container__link {
        padding: 15px 45px;
    }
    .weoffer-list {
        flex-direction: column;        
    }
    .weoffer-list__item {
        padding: 30px 25px;
    }
    .weoffer-list__item {
        margin: 10px 5px;
    }
    .ourservices-container {
    flex-direction: column;
    align-items: center;
    }
    .ourservices-container__img {
        min-width: 96%;        
    }
    .ourservices-container__list {
        max-width: 80%;
        margin-top: 30px;
    }
    .line__record {
        font-size: var(--font-size-head);
    }
    .line__point {
        font-size: var(--font-size-logo);
    }    
}